html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.cottage{
    margin: 5px;
    width: 70px;
}


div#alertsContentDiv {
    width: 300px;
    margin-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1051;
}

div.alert-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

div.alert-wrapper > div.alert {
    padding: 0 0 0 0;
    margin-bottom: 5px;
}

div.alert-wrapper > div.alert div.panel-heading {
    position: relative;
    padding-right: 30px;
}

div.alert-wrapper > div.alert div.panel-heading button.close {
    position: absolute;
    top: 5px;
    right: 10px;
}

div.alert-wrapper > div.alert div.panel {
    margin-bottom: 0;
}

div.alert-wrapper div.progress {
    margin-top: 20px;
    margin-bottom: 0;
}

.margin{
    margin-bottom: 10px;
}


div.shader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5000;
}

.blured {
    filter: blur(5px);
}

.badge-danger{
    background-color: #c9302c;
}

div#goToCottageContainer{
    display: inline-block;
    width: 130px;
    padding-top: 8px;
}

.last-clicked{
    background-color: #9ee0ea;
}

table>tbody>tr.align-middle>td{
    vertical-align: middle;
}